img {
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

p {
    color: gray;
    padding-left: 50px;
}

.one_game {
    border: inset;
    border-right: hidden;
    border-left: hidden;
}
