.forumPageContainer{
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(209deg, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
    width: 100vw;
    min-height: 100vh;
}

#formContainer{
    flex: 30%;
    position: fixed;
    margin-left: 70%;
}
