body {
    --color-primary: #D7A8FB;
    --color-primary-dark: #EFC5FA;
    --color-secondary: #252c6a;
    --border-radius: 4px; 
    /*Can change background color or replace with image*/
    margin: 0;
    height: 100vh; 
    display: cover;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color-primary); */
    background-size: cover;
}

.container {
    margin: auto;
    width: 400px;
    max-width: 400px;
    background: white;
    margin: 1rem; 
    padding: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}
.formInput{
    display: block;
    width: 100%;
    padding: 0.75rem; 
    box-sizing: border-box;
    border-radius: var(--border-radius);

}
.formHidden{
    display: none;
}

.formTitle {
    text-align: center;
}

.formExtra{
    text-align: center;
}

.formLink{
    font-size: 12px;
}


.formContinue{
    font-size: 1.1rem;
    width: 100%;
    padding: 0.5rem; 
    color: white; 
    background: var(--color-primary-dark);
    border-radius: var(--border-radius);
}