#welcome-msg{
    color:rgb(98, 98, 204);
    font-size: 100px;
    line-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome{
    background: url("../assets/homepage-background.png");
    background-size: cover;
}