#welcome-msg{
    color:rgb(255, 255, 255);
    font-size: 100px;
    font-family: 'Mulish', sans-serif;
    line-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome{
    background: url("../assets/homepage-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}