

.newsPage{
    font-family: Mulish, sans-serif;
    background: rgb(255,255,255);
    background: linear-gradient(209deg, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
}

.newsBlock{
    background-color: white;
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.newlist{
    list-style-type: none;
}

.title{
    padding-left: 30px;
    padding-top: 10px;
}

.link:link{color: #768efa}
.link:visited{color: #caafee} 
.link:hover{color: #526de4}
.link:active{color: #768efa}

.author-publisher{
    padding-left: 30px;
    padding-bottom: 10px;
}

body{
    background-color: white;
}
