
.top{
    background-color: rgba(0, 255, 221, 0.37);
    margin: 10px 20px;
    align-items: left; 
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.cols{
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.blogs{
    margin: 10px 20px;
    column-width: 250px;

    background-color: rgba(0, 255, 221, 0.37);
    border: 2px solid rgb(0, 0, 0);
}
.chats{
    column-width: 250px;
    margin: 10px 20px;
    background-color: rgba(0, 255, 221, 0.37);
    border: 2px solid rgb(0, 0, 0);
}