.cols{
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: row;
    font-family: 'Comic Sans';
    justify-content: space-between;
    color: grey;
}

.top{
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.Profile{
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.blogs{
    font-family: 'Mulish', sans-serif;
    column-width: 250px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
.chats{
    font-family: 'Mulish', sans-serif;
    column-width: 250px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.Friends{
    font-family: 'Mulish', sans-serif;
    column-width: 250px;
    border-radius: 25px;
    border: 2px solid #73AD21;
}